* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
  display: flex;
  height: 65px;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px;
  color: white;
}

.header--img {
  height: 100%;
  margin-right: 12px;
}
.header--text {
  margin-right: auto;
  font-size: 1.20rem;

}
.header--text-right {
  font-weight: 500;
  font-size: .75rem;
}


main {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

.main--image {
 height: 350px;
 width: 500px;
}

.form--input {
  flex: 50%;
  
  width: 100%;
  padding: 15px;
  margin: 10px 0px;
  font-size: 1.3rem;
  border-radius: 5px;
}

.form--btn {
  flex: 100%;
  padding: 15px;
  margin: 10px 0px;
  width: 100%;
  font-size: 1.3rem;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  cursor: pointer;
}

@media (max-width: 400px) {
  .form--input {
    flex: 100%;
  }
}