* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
  display: flex;
  height: 65px;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px;
  color: white;
}

.header--img {
  height: 100%;
  margin-right: 12px;
}
.header--text {
  margin-right: auto;
  font-size: 1.20rem;

}
.header--text-right {
  font-weight: 500;
  font-size: .75rem;
}

main {
  padding: 40px;
  max-width: 800px;
  margin: auto;
  

}

.form  {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
  

}
.form--input {
  flex: 40%;
  padding: 20px;
  margin: 10px 25px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.form--btn {
  flex: 100%;
  padding: 20px;
  margin: 10px 25px;
  font-size: 1.2rem;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  cursor: pointer;
}


main--image {
display: flex;
margin: auto;
 max-width: 300px;
 height: auto;

}


@media (max-width: 600px) {
  .form--input {
    flex: 100%;
  }
}